    <div class="ui inverted vertical footer segment">
        <div class="ui container foot">
            <div>
                Data Source:
            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml">COVID19-India : Patient Database</a><strong> |</strong>
            <a href="https://bing.com/covid/">Bing</a>
            </div>
            Created by <strong><a href="https://www.linkedin.com/in/manoj-nallusamy-19990/">MANOJ</a></strong>
        </div>
    </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js"></script>
        <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
        <script type = "text/javascript">
             google.charts.load('current', {packages: ['corechart','line']});  
             google.charts.load('current', {'packages':['bar']});
        </script>
    <script type="text/javascript">
        $(function(){
            $('.nav-item a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
        })
        </script>
</html>