<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163408620-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-163408620-1');
        </script>
        <link rel="icon" href="/images/favicon.jpg" type="image/gif" sizes="16x16">
        <title>COVID19 Tracker | Predictor</title>
        <meta name="description" content="COVID-19 Tracker/Predictor platform to track live spread of the virus, vizualizes the data using maps nd charts and estimate new cases."/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body class="preload">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="/">
                <div class="ui inverted header">
                  <img src="/images/headericon.png" alt="icon">
                    COVID19 Tracker
                </div>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/global">Global Stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/district">Search District</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/info">More info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/manoj-nallusamy-19990/">Contact Developer</a>
                  </li>
                </ul>
              </div>
            </div>
            
          </nav>
        