
<%- include("partials/header") -%>
<style>
    .menu {
    position: sticky !important;
    top: 0;
    z-index: 2;
}
</style>
<div class="ui container">
    <div class="ui grid">
        <div class="four wide column">
          <div class="ui vertical fluid tabular menu">
            <a class="item">
              Bio
            </a>
            <a class="active item">
              Pics
            </a>
            <a class="item" href="#abc">
              Companies
            </a>
            <a class="item">
              Links
            </a>
          </div>
        </div>
        <div class="twelve wide stretched column">
          <div class="ui segment">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            <div id="abc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore harum, exercitationem provident, quas numquam placeat molestias amet perspiciatis, voluptate quos optio adipisci incidunt reprehenderit ratione quod qui. Explicabo, voluptas doloribus!
            </div>
          </div>
        </div>
      </div>
</div>
<script>
   $(function(){
		$('.item').click(function(){
			$('.active').removeClass('active');
            $(this).addClass('active');	
		})
	})
</script>

  <%- include("partials/footer") -%>  