
<%- include("partials/header") -%>
<style>
    #content{
      margin-bottom: 3rem;
    }
    .menu {
    position: sticky !important;
    top: 0;
    z-index: 2;    
}

.ui.tabular.menu .item{
  padding-left: .3rem;
}
</style>
<div class="ui container" id="content">
    <div class="ui grid">
        <div class="four wide column">
          <div class="ui vertical fluid tabular menu">
            <a class="active item" href="#ov">
              Overview
            </a>
            <a class="item" href="#stm">
              Symptoms
            </a>
            <a class="item" href="#pn">
              Prevention
            </a>
            <a class="item" href="#tmt">
              Treatments
            </a>
          </div>
        </div>
        <div class="twelve wide stretched column">
          <div class="ui segment">
              <div id="ov">
                    <h2>Overview</h2>
                    <p>
                        Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
                    </p>
                    <p>
                        Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.
                    </p>
                    <p><strong>How it spreads</strong></p>
                    <p>
                      The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, 
                      sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
                    </p>
                    <p>
                      You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
                    </p>
              </div>
              <hr>
              <div id="stm">
                  <h2>Symptoms</h2>
                <p>
                    The COVID-19 virus affects different people in different ways. Most infected people will develop mild to moderate symptoms.
                </p>
                <p>
                  Common symptoms:
                    <li>fever.</li>
                    <li>tiredness.</li>
                    <li>dry cough.</li>
                </p>
                <p>
                  Some people may experience:
                  <li>aches and pains.</li>
                  <li>nasal congestion.</li>
                  <li>runny nose.</li>
                  <li>sore throat.</li>
                  <li>diarrhoea.</li>
                </p>
                <p>
                  On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.
                </p>   
                <p> 
                    People with mild symptoms who are otherwise healthy should self-isolate. Seek medical attention if you have a fever, acough, and difficulty breathing. Call ahead.
                </p>
              </div>
              <hr>
              <div id="pn">
                  <h2>Prevention</h2>
                    <p>
                        Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local public health agency.
                    </p>
                    <p>
                        To prevent the spread of COVID-19:
                        <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                        <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
                        <li>Don’t touch your eyes, nose or mouth.</li>
                        <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
                        <li>Stay home if you feel unwell.</li>
                        <li>If you have a fever, a cough and difficulty breathing, seek medical attention. Call in advance.</li>
                        <li>Follow the directions of your local health authority.</li>
                    </p>
                    <p>
                        Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.
                    </p>
              </div>
              <hr>
              <div id="tmt">
                  <h2>Treatments</h2>
                    <p>
                        To date, there are no specific vaccines or medicines for COVID-19.
                        Treatments are under investigation, and will be tested through clinical trials.
                    </p>
                    <p><strong>Self-care</strong></p>
                    <p>If you feel sick you should rest, drink plenty of fluid, and eat nutritious food. Stay in a separate room from other family members, and use a dedicated bathroom if possible. Clean and disinfect frequently touched surfaces.</p>
                    <p>Everyone should keep a healthy lifestyle at home. Maintain a healthy diet, sleep, stay active, and make social contact with loved ones through the phone or internet. Children need extra love and attention from adults during difficult times. Keep to regular routines and schedules as much as possible.</p>    
                    <p>It is normal to feel sad, stressed, or confused during a crisis. Talking to people you trust, such as friends and family, can help. If you feel overwhelmed, talk to a health worker or counsellor.</p>    
                      <p>  <strong>Medical treatments</strong></p>
                        <p>If you have mild symptoms and are otherwise healthy, self-isolate and contact your medical provider or a COVID-19 information line for advice.</p>
                        <p>Seek medical care if you have a fever, cough, and difficulty breathing. Call in advance.</p>
              </div>
          </div>
        </div>
      </div>
</div>
<script>
   $(function(){
		$('.item').click(function(){
			$('.active').removeClass('active');
            $(this).addClass('active');	
		})
	})
</script>

  <%- include("partials/footer") -%>  